*.exe
*.pdb
*.rdbg
*.obj
*.bc
*.ll
*.sublime-project
*.sublime-workspace
*.lib
*.exp
*.sqlite
*.suo
*node_modules
/ols
/odinfmt
tests/tests
ols.json
.vscode/
deno.lock
.vscode/settings.json
build/last_built_commit_ols.txt
odin/**
